.JoinPage {
  background-color: rgba(31, 29, 29, 0.534);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer {
  background: transparent;
  width: 50%;
  display: flex;
  position: relative;
  height: 90vh;
  flex-direction: column;
  align-items: center;
}

.JoinContainer > img {
  width: 10vmax;
  background: transparent;
}
.JoinContainer > h1 {
  color: white;
  font-size: 2.5vmax;
  width: 25vmax;
  border-bottom: 0.2vmax solid white;
  text-align: center;
  background: transparent;
  font-family: "Roboto";
  box-sizing: border-box;
}

#joinInput {
  width: 25vmax;
  padding: 1vmax;
  border: none;
  outline: none;
  background: white;
  position: absolute;
  top: 2vmax;
  font-size: 1.2vmax;
  margin: 2vmax;
  box-sizing: border-box;
}
.joinbtn {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  color: white;
  position: absolute;
  right: 25%;
  bottom: 30px;
  font-family: "Roboto";
  outline: none;
  font-size: 1.2vmax;
  background: #600da1;
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
}
.joinbtn:hover {
  background: #481072;
}
